In [1]:
from konlpy.tag import Okt

import pandas as pd
from pandas import DataFrame

In [2]:
reviewText = input("리뷰를 입력하시오 : ")

리뷰를 입력하시오 : 제발 리뷰 솔직하게 씁시다~ 닭인지 병아리인지 모르겠고 본점이라면서 짱깨 집도 같이 장사하는 듯

In [3]:
okt = Okt()

nlpyData = okt.pos(reviewText)

In [4]:
rawData = pd.DataFrame(nlpyData)
rawData.head()

      0            1
0    제발         Noun
1    리뷰         Noun
2  솔직하게    Adjective
3   씁시다         Verb
4     ~  Punctuation

In [5]:
rawData.describe()

         0     1
count   19    19
unique  18     6
top     인지  Noun
freq     2    10